<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospital">
            <h2><span jhiTranslate="donarApp.hospital.detail.title">Hospital</span> {{hospital.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="donarApp.hospital.nombre">Nombre</span></dt>
                <dd>
                    <span>{{hospital.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="donarApp.hospital.direccion">Direccion</span></dt>
                <dd>
                    <span>{{hospital.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="donarApp.hospital.email">Email</span></dt>
                <dd>
                    <span>{{hospital.email}}</span>
                </dd>
                <dt><span jhiTranslate="donarApp.hospital.telefono">Telefono</span></dt>
                <dd>
                    <span>{{hospital.telefono}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital', hospital.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
