<div>
    <h2 id="page-heading">
        <span jhiTranslate="donarApp.empleado.home.title">Empleados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-empleado" [routerLink]="['/empleado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="donarApp.empleado.home.createLabel">
            Create new Empleado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="empleados">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="donarApp.empleado.telefono">Telefono</span></th>
            <th><span jhiTranslate="donarApp.empleado.fechaNacimiento">Fecha Nacimiento</span></th>
            <th><span jhiTranslate="donarApp.empleado.numeroLegajo">Numero Legajo</span></th>
            <th><span jhiTranslate="donarApp.empleado.hospital">Hospital</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empleado of empleados ;trackBy: trackId">
                <td><a [routerLink]="['/empleado', empleado.id, 'view' ]">{{empleado.id}}</a></td>
                <td>{{empleado.telefono}}</td>
                <td>{{empleado.fechaNacimiento | date:'mediumDate'}}</td>
                <td>{{empleado.numeroLegajo}}</td>
                <td>
                    <div *ngIf="empleado.hospital">
                        <a [routerLink]="['../hospital', empleado.hospital?.id, 'view' ]" >{{empleado.hospital?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/empleado', empleado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/empleado', empleado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'empleado', { outlets: { popup: empleado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
